:root {
	color-scheme: light dark;
	--dark: #121212;
	--light: #f4f4f4;
}
html.light {
	color-scheme: light;
	--bg: var(--light);
}
html.dark {
	color-scheme: dark;
	--bg: var(--dark);
}
body {
	background-color: var(--bg);
	opacity: calc(var(--css1-loaded, 0) * var(--css2-loaded, 0));
}
