@font-face {
	font-family: "Ioskeley Mono";
	src: url("/fonts/IoskeleyMono-100.woff2") format("woff2");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Ioskeley Mono";
	src: url("/fonts/IoskeleyMono-100-i.woff2") format("woff2");
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Ioskeley Mono";
	src: url("/fonts/IoskeleyMono-200.woff2") format("woff2");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Ioskeley Mono";
	src: url("/fonts/IoskeleyMono-200-i.woff2") format("woff2");
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Ioskeley Mono";
	src: url("/fonts/IoskeleyMono-300.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Ioskeley Mono";
	src: url("/fonts/IoskeleyMono-300-i.woff2") format("woff2");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Ioskeley Mono";
	src: url("/fonts/IoskeleyMono-350.woff2") format("woff2");
	font-weight: 350;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Ioskeley Mono";
	src: url("/fonts/IoskeleyMono-350-i.woff2") format("woff2");
	font-weight: 350;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Ioskeley Mono";
	src: url("/fonts/IoskeleyMono-400.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Ioskeley Mono";
	src: url("/fonts/IoskeleyMono-400-i.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Ioskeley Mono";
	src: url("/fonts/IoskeleyMono-500.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Ioskeley Mono";
	src: url("/fonts/IoskeleyMono-500-i.woff2") format("woff2");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Ioskeley Mono";
	src: url("/fonts/IoskeleyMono-600.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Ioskeley Mono";
	src: url("/fonts/IoskeleyMono-600-i.woff2") format("woff2");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Ioskeley Mono";
	src: url("/fonts/IoskeleyMono-700.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Ioskeley Mono";
	src: url("/fonts/IoskeleyMono-700-i.woff2") format("woff2");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Ioskeley Mono";
	src: url("/fonts/IoskeleyMono-800.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Ioskeley Mono";
	src: url("/fonts/IoskeleyMono-800-i.woff2") format("woff2");
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Ioskeley Mono";
	src: url("/fonts/IoskeleyMono-900.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Ioskeley Mono";
	src: url("/fonts/IoskeleyMono-900-i.woff2") format("woff2");
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}
