@import "tailwindcss" source(none);

@import "./fonts.css";
@import "./hljs.css";
@import "./nprogress.css";

@source "../**/*.{ts,tsx}";

@custom-variant dark (&:where(.dark, .dark *));

:root {
	--css-loaded: 1;
}

@theme {
	--color-dark: var(--dark);
	--color-light: var(--light);
	--color-bg: var(--bg);
	--color-fg: var(--fg);
}

body {
	font-family: "Ioskeley Mono", monospace;
	font-weight: 300;
	max-width: 800px;
	margin: 0 auto;
	font-size: 16px;
	padding: 1rem;
	margin-bottom: 3rem;
}

#vorma-root {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

nav {
	display: flex;
	gap: 1rem;
	margin: 0.5rem 0;

	a {
		text-transform: uppercase;
		text-decoration: underline;
		text-underline-offset: 5px;
		text-decoration-thickness: 1.5px;
	}
}

.content {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1.25rem;

	p {
		line-height: 2;
	}

	hr {
		margin: 1rem 0;
		border: none;
		border-bottom: 1px solid #777;
	}

	h1 {
		font-size: 2rem;
		font-weight: 300;
		letter-spacing: 0.02em;
		text-transform: uppercase;
	}
	h2 {
		font-size: 1.6rem;
		font-weight: 500;
	}
	h3 {
		font-size: 1.3rem;
		font-weight: 300;
		font-style: italic;
	}

	ul {
		li {
			line-height: 1.7;
			margin-left: 1.5rem;
			&:before {
				content: "•";
				display: inline-block;
				width: 1em;
				margin-left: -1em;
				color: #777;
			}
		}
	}

	a {
		text-decoration: underline;
		text-underline-offset: 5px;
		text-decoration-thickness: 1px;
	}

	code {
		font-family: monospace;
		background: #7772;
	}

	pre code {
		display: block;
		overflow-x: auto;
		padding: 0.75rem 1rem;
		line-height: 1.7;
	}

	code:not(pre code) {
		padding: 2px 0.25rem;
	}

	.anchor {
		padding-right: 7px;
		font-weight: normal;
		font-style: normal;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
